BODY
{
	padding-right: 20px;
	padding-left: 20px;
	font-size: 10pt;
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: Verdana;
	background-color: white;
}
A
{
	color: blue;
	text-decoration: none;
}
A:hover
{
	text-decoration: underline;
}
H1
{
	text-align: center;
}
TH
{
	color: white;
	background-color: navy;
}
TABLE.RegularTable
{
	background-color: #99cccc;
}
TABLE
{
	font-size: 10pt;
}
DIV.Error
{
	color: red;
}
P.Error
{
	color: red;
	text-align: center;
}
INPUT.Button
{
	border-right: gray outset;
	border-top: gray outset;
	font-size: xx-small;
	border-left: gray outset;
	cursor: hand;
	color: wheat;
	border-bottom: gray outset;
	background-color: teal;
}
INPUT
{
	color: maroon;
	font-family: Verdana;
	background-color: silver;
}
TEXTAREA
{
	color: maroon;
	font-family: 'Courier New';
	background-color: silver;
}
